################################ Scala part ################
*.class
*.log
target

### Metals ###
.metals/
.bloop/
project/metals.sbt

############################### Typescript/React #############
# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/.eslintcache

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
